body {
    background-image: url(../IMG/Food.svg);
}

.logo {
    width: 5rem;
    height: 5rem;
}

img {
    width: 10rem;
    height: 10rem;
}

.platos-container {
    background-color: bisque;
    text-align: center;
    display: inline-block;
    border: 1px solid black;
    padding: 2rem;
    margin: 2rem;
}

a {
    text-decoration: none;
}

.botonVaciar {
    padding-left: 9rem;
}

.cuentaFinal {
    background-color: beige;
    text-align: center;
    display: inline-block;
    border: 1px solid black;
    padding: 2rem;
    margin: 2rem;
}